@font-face {
    font-family: 'iconfont';
    src: url('./font/iconfont.eot');
    src: url('./font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('./font/iconfont.woff') format('woff'),
    url('./font/iconfont.ttf') format('truetype'),
    url('./font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 50px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

div:after {
    content: '';
    clear: both;
}

/*css------------body*/
/*body{background:white; }*/
#box {
    width: 1306px;
    margin: 0 auto;
    background: white
}

/*css-------------header*/
#header {
    width: 100%;
    background: #F5F5F5;
    border-bottom: 1px solid darkgray;
}

.div_header {
    width: 1200px;
    height: 33px;
    margin: 0 auto;

    line-height: 33px;
}

.header_left {
    width: auto;
    height: 32px;
    float: left;
}

.header_right {
    width: auto;
    height: 32px;
    float: right;
}

.div_header li {
    width: auto;
    height: 32px;
    padding: 0 12px;
    float: left;
    line-height: 32px;
    position: relative;
}

.div_header span {
    float: left;
    vertical-align: text-bottom;
    color: #008852;
    font-size: 17px;
}

.div_header li:hover {
    text-decoration: underline;
}

#changeCity {
    position: absolute;
    top: 30px;
    width: 300px;
    height: 200px;
    border: 1px solid black;
    z-index: 120;
    display: none;
}

/*css-------------menu   */
.div_menu {
    width: auto;
    height: 80px;
    /*background: yellow;*/
    margin: 0 53px;
    position: relative;
}

.menu_logo {
    position: absolute;
    left: 0;
    width: 235px;
    height: auto;
}

.div_menu ul {
    float: right;
    width: auto;
}

.div_menu li {
    width: 102px;
    height: 80px;
    float: left;
    /*background: palevioletred;*/
    line-height: 80px;
    vertical-align: middle;
}

.div_menu li:hover a {
    background: #F7F7F7;
}

.div_menu img {
    width: auto;
    height: 80px;
}

.div_menu li a {
    height: 40px;
    padding: 0 15px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    font-size: 16px;
    /*background: brown;*/
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
}

/*css-------------nav      */
.nav {
    width: 100%;
    height: 340px;
    background: white;
}

.div_nav {
    width: auto;
    height: 340px;
    margin: 0 53px;
    background: yellowgreen;
    position: relative;
}

#nav_box {
    width: 100%;
    height: 340px;
    background: bisque;
    overflow: hidden;
    position: relative;
}

#nav_img {
    width: 500%;
    height: 100%;
    position: absolute
}

#nav_img img {
    width: 1200px;
}

#nav_check {
    position: absolute;
    bottom: 10px;
    right: 20px;
    z-index: 100;
}

#nav_check li {
    width: 25px;
    height: 25px;
    float: left;
}

#nav_check li div {
    width: 15px;
    height: 15px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: 5px auto;
    cursor: pointer;
}

#nav_check li:hover div {
    background: black;
}

#nav_menu {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 235px;
}

#nav_menu > li {
    height: 25%;
    width: 100%;
    border-bottom: 1px solid gainsboro;
    vertical-align: middle;
}

#nav_menu > li:hover {
    background: #008953;
}

#nav_menu > li:hover .nav_column {
    display: block;
}

#nav_menu > li>a {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 84px;

}

#nav_menu > li>a span {
    vertical-align: middle;
}

.nav_text {
    font-size: 20px;
}

    .nav_column {
        display: none;
        width: 700px;
        height: auto;
        box-sizing: border-box;
        border: 1px solid yellowgreen;
        position: absolute;
        z-index: 10;
        left: 234px;
        top: 0px;
        background: white;
        padding: 19px 0 ;
    }


            #columnRepairpad > li {
                line-height: 45px;
                float: left;
                height: 45px;
                vertical-align: middle;
                overflow: hidden;

            }

            #columnRepairpad > li span {
                float: left;
                vertical-align: middle;
                text-align: right;
                width: 150px;
                height:25px;
                line-height:25px;
                padding-right: 10px;
                font-size: 14px;
            }

            #columnRepairpad > li a {
                width: auto;
                padding: 0 10px;
                border-left: 1px solid darkgrey;
                height: 25px;
                vertical-align: middle;
                line-height: 25px;
                float: left;
            }
#columnRepairCop li,#columnRepairPhone li,#columnsellPhone li{
            margin-left:10px;
            width:100%;
            height:60px;
            line-height:60px;

        }
#columnRepairCop span{
    float: left;
    width:100px;
    height:40px;
    line-height:40px ;
    text-align: center;
    margin:10px 0;

}


#columnRepairCop a,#columnRepairPhone a,#columnsellPhone a{
    box-sizing: border-box;
    float: left;
    width:115px;
    height:40px;
    margin:10px;
    border:1px solid black;
    text-align: center;
    line-height: 40px;
}
            .nav_column a:hover {
                color: #008953;
            }

        .tips-left {
            border-color: transparent white;
            border-style: solid;
            font-size: 0;
            border-width: 10px 10px 10px 0px;
            position: absolute;
            left: -10px;
            top: 33px;
            z-index: 100;
            vertical-align: middle;

        }

/*css------------------banner*/
.banner {
    width: 100%;
    height: 167px;
    background: #F7F7F7;
}

.div_banner {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background: white;

}

.div_banner li {
    width: 25%;
    height: 100%;
    float: left;
    /*background: gold;*/
    border-right: 1px solid #F7F7F7;
    overflow: hidden;
}

.div_banner img {
    vertical-align: bottom;
    width: 100%;
}

/*css-----------------title*/
.title {
    width: 100%;
    height: 68px;
    padding: 20px 53px 0;
    background: #F7F7F7;
    font-size: 30px;
}

/*css------------------recyle*/
.recycle {
    width: 100%;
    height: 300px;
    background: #F7F7F7;
}

.div_recycle {
    width: auto;
    height: 100%;
    background: white;
    margin: 0 53px;
}

.div_recycle li {
    width: 16.66%;
    height: 100%;
    /*background: paleturquoise;*/
    border-right: 1px solid #F7F7F7;
    float: left;
    text-align: center;
    line-height: 40px;
}

.div_recycle li:first-child {
    padding-top: 50px;
    line-height: 35px;
}

.div_recycle li img {
    width: auto;
    height: 191px;
    margin-top: 40px;
}

.div_recycle strong {
    font-family: 幼圆;
    font-size: 40px;
}

.div_recycle span {
    font-size: 20px
}

.div_recycle center {
    width: 100%;
    font-size: 20px;
}

/*css-------------repair*/
.repair {
    width: 100%;
    height: 924px;
}

.div_repair {
    width: auto;
    height: 100%;
    margin: 0 53px;
    background: palegoldenrod;
}

.repair_subnav {
    width: 890px;
    height: 82px;
    padding: 20px 0;
}

.repair_subnav div:nth-child(1), .repair_subnav div:nth-child(2) {
    height: 100%;
    border: 1px solid forestgreen;
    float: left;
    margin-right: 8px;
    padding: 4px 7px 13px;
    font-size: 14px;
    line-height: 32px;
}

.repair_subnav div:nth-child(1) {
    width: 142px;
}

.repair_subnav div:nth-child(2) {
    width: 142px;
}

.repair_subnav input:nth-child(3) {
    width: 468px;
    height: 100%;
    border: 1px solid forestgreen;
    float: left;
    font-size: 14px;
    line-height: 32px;

}

.repair_subnav input:nth-child(4) {
    width: 120px;
    height: 100%;
    border: 1px solid forestgreen;
    background: forestgreen;
    float: left;
    color: white;
    font-size: 25px;
}

.repair_main {
    width: 890px;
    height: auto;
    /*background: royalblue;*/
}

.repair_menu {
    width: 100%;
    height: 42px;
    background: #F7F7F7;
    border: 1px solid grey;
    line-height: 42px;
}

.repair_menu a {
    display: inline-block;
    width: 120px;
    height: 100%;
    float: left;
    text-align: center;
    vertical-align: middle;
}

.repair_menu a:first-child {
    background: white;
    border-right: 1px solid grey;
}

.repair_menu div {
    float: left;
}

#map {
    float: right;
    width: 103px;
    height: 30px;
    background: white;
    margin: 5px 10px;
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
    cursor: pointer;
}

#map span {
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    vertical-align: middle
}

/*css-------维修点信息*/
.repair_list {
    width: 100%;
    height: auto;
    background: pink;
}

.repair_list li {
    position: relative;
    height: 133px;
    padding: 20px 0;
    border-bottom: 1px solid #F7F7F7;
}

.repair_list li > a {
    margin: 0px 20px 0 0;
    position: absolute;
    left: 0px;
    display: inline-block;
    width: 90px;
    height: 90px;
    background: midnightblue;
}

.repair_list li:last-child {
    border: 0;
}

.repair_list span {
    vertical-align: middle;
    font-size: 16px;
}

.repair_list i {
    font-size: 16px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: greenyellow;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.repair_list div:nth-of-type(1), .repair_list div:nth-of-type(2) {
    float: left;
    height: 90px;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
}

.repair_list div:nth-of-type(1) {
    width: 390px;
    left: 100px;
    line-height: 28px;

}

.repair_list h3 {
    height: 37px;
    font-size: 18px
}

.repair_list div:nth-of-type(2) {
    width: 160px;
    right: 200px;
    line-height: 30px;
}

.div_over {
    display: block
}

.div_out {
    display: none;
}

li:hover .div_out {
    display: block;
}

.goshop {
    width: 150px;
    height: 50px;
    border: 1px solid green;
    position: absolute;
    right: 5px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    margin: 22px 0 auto
}

.goshop a {
    width: 100%;
    height: 100%;
    display: inline-block;
}
/*末尾栏________________________*/
#lastColumn{
    width:100%;
    height:290px;
    background:#FAFAFA ;
}
.div_lastColumn{
    width:984px;
    height:100%;
    margin:0 auto;
    background: yellow;
}
/*高德地图______________________*/
#gaodeMap{
    display: none;
    position: fixed;
    z-index: 200;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
}
#gaode{
    width:890px;
    height: 550px;
    background: #F7F7F7;
    margin:0 auto;
    position: absolute;
    top:40px;
    left:0;
    right:0;
}
#gaodeClose{
    width:25px;
    height:30px;
    line-height:30px;
    vertical-align: middle;
    font-size: 20px;
    float: right;
    cursor: pointer;
}

.gaodeTop{
    width:100%;
    height:30px;
    /*background:;*/
}
.gaodeMin{
    width:100%;
    height:455px;
    background:white;}


.gaodeBottom{
    width:auto;
    height:auto;
    margin: 0 auto;
    /*line-height:60px;*/
    background: yellow;
    overflow: hidden;
    text-align: center;
}
.gaodeBottom span{
    display: inline-block;
    margin:20px 10px;
    width:40px;
    height:40px;
    border:1px solid black;
}